* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

ul, li {
    list-style-type: none;
    display: inline;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 310px;
    background: linear-gradient(90deg, #BC3D96 0%, #7D256F 100%);
}

.header {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.header_top {
    /* margin-left: 226px;
    padding-top: 46px; */
    display: flex;
}

.header_top_left {
    display: flex;
}


.header_top_right {
    /* display: flex; */
}

.header_bottom {
    margin-top: 53px;
    display: flex;
}